In [1]:
#List of imports and librabaries used

import pandas as pd
import itertools
from functools import reduce

In [2]:
A17 = pd.read_csv('A17-Household expenditure by economic activity status of the household reference person.csv')

#Drop unused rows

A17 = A17[A17.Expenditure_Category != 'All expenditure groups']

#Replaced values with numbers
A17 = A17.replace(['Food and non-alcoholic drinks','Alcoholic drinks, tobacco and narcotics','Clothing and footwear','Housing (net)2, fuel and power','Household goods and services','Health','Transport','Communication','Recreation and culture','Education','Restaurants and hotels','Miscellaneous goods and services','Other expenditure items'], [1,2,3,4,5,6,7,8,9,10,11,12,13])
A17 = A17.replace(['Full-time','Part-time','Self Employed','Unemployed','Economically innactive/ Retired','Other'],[1,2,3,4,5,6])
A17=A17.rename(columns={"Expenditure": "Expenditure_A17"})
#A17 = A17.set_index('Year','Expenditure_Category')

print(A17.info())
print(A17.describe())
print(A17)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 468 entries, 0 to 503
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Expenditure_Category  468 non-null    int64
 1   Employment_Status     468 non-null    int64
 2   Year                  468 non-null    int64
 3   Expenditure_A17       468 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 18.3 KB
None
       Expenditure_Category  Employment_Status         Year  Expenditure_A17
count            468.000000         468.000000   468.000000       468.000000
mean               7.000000           3.500000  2017.500000        39.045513
std                3.745661           1.709653     1.709653        27.626638
min                1.000000           1.000000  2015.000000         0.200000
25%                4.000000           2.000000  2016.000000        13.975000
50%                7.000000           3.500000  2017.500000        33.100000
75%               10.000000           5.000000  2019.000000        56.450000
max               13.000000           6.000000  2020.000000       117.300000
     Expenditure_Category  Employment_Status  Year  Expenditure_A17
0                       1                  1  2015             65.3
1                       1                  2  2015             58.8
2                       1                  3  2015             73.3
3                       1                  4  2015             40.7
4                       1                  5  2015             48.0
..                    ...                ...   ...              ...
499                    13                  2  2020             69.5
500                    13                  3  2020             98.0
501                    13                  4  2020             54.8
502                    13                  5  2020             48.7
503                    13                  6  2020             41.3

[468 rows x 4 columns]

In [3]:
A22 = pd.read_csv('A22-Household expenditure by socio-economic classification of household reference person.csv')

#Drop unused rows

A22 = A22[A22.Expenditure_Category != 'All expenditure groups']

#Replaced values with numbers
A22 = A22.replace(['Food and non-alcoholic drinks','Alcoholic drinks, tobacco and narcotics','Clothing and footwear','Housing (net)2, fuel and power','Household goods and services','Health','Transport','Communication','Recreation and culture','Education','Restaurants and hotels','Miscellaneous goods and services','Other expenditure items'], [1,2,3,4,5,6,7,8,9,10,11,12,13])
A22 = A22.replace(['large employer and higher managerial','Higher professional','Lower managerial and professional','Intermediate','Small employers','Lower supervisory','Semi routine','Routine','Long term unemployed','Students','occupation not stated '],[1,2,3,4,5,6,7,8,9,10,11])
A22=A22.rename(columns={"Expenditure": "Expenditure_A22"})
print(A22.info())
print(A22.describe())

#Check the data frame values
print(A22['Expenditure_Category'].unique())
print(A22['Socio_economic_classification'].unique())
print(A22['Year'].unique())

#A22 = A22.set_index('Year','Expenditure_Category')
print(A22)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 858 entries, 0 to 923
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Expenditure_Category           858 non-null    int64
 1   Socio_economic_classification  858 non-null    int64
 2   Year                           858 non-null    int64
 3   Expenditure_A22                858 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 33.5 KB
None
       Expenditure_Category  Socio_economic_classification         Year  \
count             858.00000                     858.000000   858.000000
mean                7.00000                       6.000000  2017.500000
std                 3.74384                       3.164122     1.708821
min                 1.00000                       1.000000  2015.000000
25%                 4.00000                       3.000000  2016.000000
50%                 7.00000                       6.000000  2017.500000
75%                10.00000                       9.000000  2019.000000
max                13.00000                      11.000000  2020.000000

       Expenditure_A22
count       858.000000
mean         44.375991
std          35.159279
min           0.400000
25%          15.400000
50%          36.600000
75%          65.250000
max         214.900000
[ 1  2  3  4  5  6  7  8  9 10 11 12 13]
[ 1  2  3  4  5  6  7  8  9 10 11]
[2015 2016 2017 2018 2019 2020]
     Expenditure_Category  Socio_economic_classification  Year  \
0                       1                              1  2015
1                       1                              2  2015
2                       1                              3  2015
3                       1                              4  2015
4                       1                              5  2015
..                    ...                            ...   ...
919                    13                              7  2020
920                    13                              8  2020
921                    13                              9  2020
922                    13                             10  2020
923                    13                             11  2020

     Expenditure_A22
0               79.4
1               72.0
2               65.7
3               57.3
4               67.7
..               ...
919             56.8
920             51.2
921             16.6
922             51.3
923             47.2

[858 rows x 4 columns]

In [4]:
A23 = pd.read_csv('A23-Expenditure by household composition.csv')

#Drop unused row
A23=A23[A23['Expenditure_Category'] != 'All expenditure groups']

#Replaced column values with numbers
A23 = A23.replace(['Food and non-alcoholic drinks','Alcoholic drinks, tobacco and narcotics','Clothing and footwear','Housing (net)2, fuel and power','Household goods and services','Health','Transport','Communication','Recreation and culture','Education','Restaurants and hotels','Miscellaneous goods and services','Other expenditure items'], [1,2,3,4,5,6,7,8,9,10,11,12,13])
A23 = A23.replace(['State pension one person','State pension two adults','Other retired one person','Other retired two adults','Non-retired one person','Non-retired two adults','One adult with one child','One adult with two or more children ','Two adults with one child','Two adults with two children','Two adults with three or more children','Three or more adults without children','Three or more adults with children'],[1,2,3,4,5,6,7,8,9,10,11,12,13])
A23=A23.rename(columns={"Expenditure": "Expenditure_A23"})
#Check the data frame values
print(A23['Expenditure_Category'].unique())
print(A23['Household_Composition'].unique())
print(A23['Year'].unique())

#A23 = A23.set_index('Year','Expenditure_Category')
print(A23)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13]
[2015 2016 2017 2018 2019 2020]
      Expenditure_Category  Household_Composition  Year  Expenditure_A23
0                        1                      1  2015             28.6
1                        1                      2  2015             51.4
2                        1                      3  2015             32.3
3                        1                      4  2015             62.6
4                        1                      5  2015             29.1
...                    ...                    ...   ...              ...
1087                    13                      9  2020            102.6
1088                    13                     10  2020            118.5
1089                    13                     11  2020            113.9
1090                    13                     12  2020            110.4
1091                    13                     13  2020            107.8

[1014 rows x 4 columns]

In [5]:
A3 = pd.read_csv('A3.1-Detailed household expenditure by disposable income decile group.csv')

#Preprocessing the data

A3 = A3.replace(['Food and non-alcoholic drinks','Alcoholic drinks, tobacco and narcotics','Clothing and footwear','Housing(net) fuel and power','Household goods and services','Health','Transport','Communication','Recreation and culture','Education','Restaurants and hotels','Miscellaneous goods and services','Other expenditure items'], [1,2,3,4,5,6,7,8,9,10,11,12,13])

A3 = A3.replace(['Lowest ten','Second decile','Third decile','Fourth decile','Fifth decile','Sixth decile','Seventh decile','Eight decile','Ninth decile','Highest decile'],[1,2,3,4,5,6,7,8,9,10])
A3=A3.rename(columns={"Expenditure": "Expenditure_A3"})
print(A3.info())
print(A3.describe())

#A3 = A3.set_index('Year','Expenditure_Category')
print(A3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Expenditure_Category            780 non-null    int64
 1   Disposable_income_decile_group  780 non-null    int64
 2   Year                            780 non-null    int64
 3   Expenditure_A3                  780 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 24.5 KB
None
       Expenditure_Category  Disposable_income_decile_group         Year  \
count            780.000000                      780.000000   780.000000
mean               7.000000                        5.500000  2017.500000
std                3.744058                        2.874124     1.708921
min                1.000000                        1.000000  2015.000000
25%                4.000000                        3.000000  2016.000000
50%                7.000000                        5.500000  2017.500000
75%               10.000000                        8.000000  2019.000000
max               13.000000                       10.000000  2020.000000

       Expenditure_A3
count      780.000000
mean        43.196923
std         37.301926
min          0.300000
25%         14.075000
50%         32.150000
75%         63.425000
max        201.900000
     Expenditure_Category  Disposable_income_decile_group  Year  \
0                       1                               1  2015
1                       1                               2  2015
2                       1                               3  2015
3                       1                               4  2015
4                       1                               5  2015
..                    ...                             ...   ...
775                     7                               6  2020
776                     7                               7  2020
777                     7                               8  2020
778                     7                               9  2020
779                     7                              10  2020

     Expenditure_A3
0              31.3
1              36.5
2              45.6
3              50.8
4              57.5
..              ...
775            91.3
776            91.5
777           106.2
778           137.6
779           181.4

[780 rows x 4 columns]

In [6]:
A32 = pd.read_csv('A32-Household expenditure by tenure.csv')

#Preprocessing the data

A32 = A32.replace(['Food and non-alcoholic drinks','Alcoholic drinks, tobacco and narcotics','Clothing and footwear','Housing(net) fuel and power','Household goods and services','Health','Transport','Communication','Recreation and culture','Education','Restaurants and hotels','Miscellaneous goods and services','Other expenditure items'], [1,2,3,4,5,6,7,8,9,10,11,12,13])

A32 = A32.replace(['Owners owned outright','Owners buying with a mortage','Social rented from council','Social rented from registered social landlord','Rent free','Rent paid and unfurnished','Rent paid and furnished'],[1,2,3,4,5,6,7])

A32=A32.rename(columns={"Expenditure": "Expenditure_A32"})

print(A32.info())
print(A32.describe())

#A32 = A32.set_index('Year','Expenditure_Category')

print(A32)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Expenditure_Category  455 non-null    int64
 1   Tenure                455 non-null    int64
 2   Year                  455 non-null    int64
 3   Expenditure_A32       455 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 14.3 KB
None
       Expenditure_Category      Tenure        Year  Expenditure_A32
count            455.000000  455.000000   455.00000       455.000000
mean               7.000000    4.000000  2018.00000        38.746813
std                3.745776    2.002201     1.41577        37.437105
min                1.000000    1.000000  2016.00000         0.200000
25%                4.000000    2.000000  2017.00000        14.100000
50%                7.000000    4.000000  2018.00000        28.000000
75%               10.000000    6.000000  2019.00000        51.300000
max               13.000000    7.000000  2020.00000       270.400000
     Expenditure_Category  Tenure  Year  Expenditure_A32
0                       1       1  2016             57.0
1                       1       2  2016             68.1
2                       1       3  2016             43.1
3                       1       4  2016             49.2
4                       1       5  2016             48.8
..                    ...     ...   ...              ...
450                    13       3  2020             24.2
451                    13       4  2020             25.6
452                    13       5  2020             62.4
453                    13       6  2020             52.3
454                    13       7  2020             75.7

[455 rows x 4 columns]

In [8]:
A33 = pd.read_csv('A33-Household expenditure by countries and regions.csv')

#drop unused column
A33 = A33.drop(columns='Countries')

#Preprocessing the data

A33 = A33.replace(['Food and non-alcoholic drinks','Alcoholic drinks, tobacco and narcotics','Clothing and footwear','Housing(net) fuel and power','Household goods and services','Health','Transport','Communication','Recreation and culture','Education','Restaurants and hotels','Miscellaneous goods and services','Other expenditure items'], [1,2,3,4,5,6,7,8,9,10,11,12,13])

A33 = A33.replace(['North East','Yorkshire and The Humber','North West','West Midlands','East Midlands','South West','East','South East','London','Northern Ireland','Scotland','Wales'],[1,2,3,4,5,6,7,8,9,10,11,12])

A33=A33.rename(columns={"Expenditure": "Expenditure_A33"})

print(A33.info())
print(A33.describe())

#A33 = A33.set_index('Year','Expenditure_Category')
print(A33)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 936 entries, 0 to 935
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Expenditure_Category  936 non-null    int64
 1   Regions               936 non-null    int64
 2   Year                  936 non-null    int64
 3   Expenditure_A33       936 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 29.4 KB
None
       Expenditure_Category     Regions         Year  Expenditure_A33
count            936.000000  936.000000   936.000000       936.000000
mean               7.000000    6.500000  2017.500000        40.889103
std                3.743658    3.453898     1.708738        26.205535
min                1.000000    1.000000  2015.000000         1.400000
25%                4.000000    3.750000  2016.000000        15.800000
50%                7.000000    6.500000  2017.500000        39.450000
75%               10.000000    9.250000  2019.000000        62.325000
max               13.000000   12.000000  2020.000000       136.100000
     Expenditure_Category  Regions  Year  Expenditure_A33
0                       1        1  2015             49.9
1                       1        2  2015             51.1
2                       1        3  2015             54.1
3                       1       12  2015             54.2
4                       1        4  2015             55.9
..                    ...      ...   ...              ...
931                     7        8  2020            100.3
932                     7        6  2020             93.8
933                     7       12  2020             78.1
934                     7       11  2020             75.3
935                     7       10  2020             73.7

[936 rows x 4 columns]

In [9]:
dfs=[A17,A22,A23,A3,A32,A33]

df = reduce(lambda  left,right: pd.merge(left,right,on=["Year","Expenditure_Category"]), dfs)

print(df)

          Expenditure_Category  Employment_Status  Year  Expenditure_A17  \
0                            1                  1  2016             63.2
1                            1                  1  2016             63.2
2                            1                  1  2016             63.2
3                            1                  1  2016             63.2
4                            1                  1  2016             63.2
...                        ...                ...   ...              ...
46846795                    13                  6  2020             41.3
46846796                    13                  6  2020             41.3
46846797                    13                  6  2020             41.3
46846798                    13                  6  2020             41.3
46846799                    13                  6  2020             41.3

          Socio_economic_classification  Expenditure_A22  \
0                                     1             79.7
1                                     1             79.7
2                                     1             79.7
3                                     1             79.7
4                                     1             79.7
...                                 ...              ...
46846795                             11             47.2
46846796                             11             47.2
46846797                             11             47.2
46846798                             11             47.2
46846799                             11             47.2

          Household_Composition  Expenditure_A23  \
0                             1             25.4
1                             1             25.4
2                             1             25.4
3                             1             25.4
4                             1             25.4
...                         ...              ...
46846795                     13            107.8
46846796                     13            107.8
46846797                     13            107.8
46846798                     13            107.8
46846799                     13            107.8

          Disposable_income_decile_group  Expenditure_A3  Tenure  \
0                                      1            30.4       1
1                                      1            30.4       1
2                                      1            30.4       1
3                                      1            30.4       1
4                                      1            30.4       1
...                                  ...             ...     ...
46846795                              10           193.7       7
46846796                              10           193.7       7
46846797                              10           193.7       7
46846798                              10           193.7       7
46846799                              10           193.7       7

          Expenditure_A32  Regions  Expenditure_A33
0                    57.0        1             49.6
1                    57.0        3             54.8
2                    57.0        2             51.4
3                    57.0        5             57.8
4                    57.0        4             55.8
...                   ...      ...              ...
46846795             75.7        8             99.7
46846796             75.7        6             82.8
46846797             75.7       12             61.3
46846798             75.7       11             65.3
46846799             75.7       10             50.4

[46846800 rows x 14 columns]

In [10]:
cols=['Expenditure_A17','Expenditure_A22','Expenditure_A23','Expenditure_A3','Expenditure_A32','Expenditure_A33']
df['Expenditure']=df[cols].mean(axis=1)

df = df.drop(columns=cols)

print(df)

          Expenditure_Category  Employment_Status  Year  \
0                            1                  1  2016
1                            1                  1  2016
2                            1                  1  2016
3                            1                  1  2016
4                            1                  1  2016
...                        ...                ...   ...
46846795                    13                  6  2020
46846796                    13                  6  2020
46846797                    13                  6  2020
46846798                    13                  6  2020
46846799                    13                  6  2020

          Socio_economic_classification  Household_Composition  \
0                                     1                      1
1                                     1                      1
2                                     1                      1
3                                     1                      1
4                                     1                      1
...                                 ...                    ...
46846795                             11                     13
46846796                             11                     13
46846797                             11                     13
46846798                             11                     13
46846799                             11                     13

          Disposable_income_decile_group  Tenure  Regions  Expenditure
0                                      1       1        1    50.883333
1                                      1       1        3    51.750000
2                                      1       1        2    51.183333
3                                      1       1        5    52.250000
4                                      1       1        4    51.916667
...                                  ...     ...      ...          ...
46846795                              10       7        8    94.233333
46846796                              10       7        6    91.416667
46846797                              10       7       12    87.833333
46846798                              10       7       11    88.500000
46846799                              10       7       10    86.016667

[46846800 rows x 9 columns]

In [11]:
df=df.dropna()

df = df.sample(frac=0.001)

print(df)

          Expenditure_Category  Employment_Status  Year  \
2916134                      5                  1  2016
27343557                    12                  6  2018
27722092                    13                  3  2018
22412568                     6                  1  2018
36241733                    12                  2  2019
...                        ...                ...   ...
31225516                     5                  2  2019
34826778                    10                  2  2019
37440127                    13                  6  2019
25993871                    11                  1  2018
45616620                    12                  2  2020

          Socio_economic_classification  Household_Composition  \
2916134                               4                      1
27343557                              7                     13
27722092                              9                      9
22412568                              7                      6
36241733                              8                     11
...                                 ...                    ...
31225516                             11                      7
34826778                             11                      4
37440127                              8                      8
25993871                              5                      6
45616620                              9                      5

          Disposable_income_decile_group  Tenure  Regions  Expenditure
2916134                                6       7        2    26.083333
27343557                               9       4       12    43.533333
27722092                               5       7        4    63.133333
22412568                               7       3        1     5.216667
36241733                              10       2        7    55.516667
...                                  ...     ...      ...          ...
31225516                               3       3        4    27.716667
34826778                               5       4        9     5.801667
37440127                               6       6        8    58.300000
25993871                               1       6       10    48.583333
45616620                               6       1        1    34.566667

[46847 rows x 9 columns]

In [12]:
df.to_csv('df.csv', index=False)